@import '../../../global.scss';

.hotSale{
    background-color: #EDF0F3;
    border-radius: 2px;
    width: 111px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        color: $textGray;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        float: right;
    }
}