@import '../../../global.scss';

.hotSale{
    margin-bottom: 12px;

    .title{
        color: $textBlack;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 526px;
        text-align: left;
        

        .tagContainer{
            background-color: #EDF0F3;
            border-radius: 2px;
            padding: 0px 8px 2px 8px;
            
            @include mobile{
                float: right;
                margin-right: 12px;
            }

            .tag{
                color: $textGray;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                text-align: left;
            }
        }
    }
}