
//colors
$mainColor: #FF6600;
$secondaryColor: #FFF0E6;
$thirdColor: #E6E7EB;

$textBlack: #333333;
$textGray: #999999;

$white: #FFFFFF;


//responsive
$width: 1256px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }


}

